.Header {
  position: fixed;
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
  background-color: rgb(47,45,70);
  left: 0;
  top:0;
  width: 100%;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.Content{
    margin-top: 10%;
  width: 100%;

  position: fixed;
}

.collapsibleTitle{
  background-color: white;
  margin-left: 100px;
}

.Footer {
position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(47,45,70);
  color: white;
  text-align: center;
  height: 70px;
  padding: 15px;
}

.TableScroll {
  overflow-y: auto;
  height: 90%;
  width: 90%;
  position: absolute;
}

.Body {
  overflow-y: auto;
  height: 78%;
  width: 100%;
  position: absolute;
}

.radio-label {
   display: inline-block;
    vertical-align: top;
    margin-right: 8%;
}

input[type=text] {
    width: 20%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 1%;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 90%;
}

.logoutBtn{
  margin-left: 92%;
  margin-top: -15px;
}

.logoutBtn a:link{
  color:white;
}

.logoutBtn a:visited{
  color:white;
}

.chart{
  height: 85%;
}

.panelH{
  width: 80%;
  align-content: center;
}

.saveData{
  margin-left: 45%;
  position: fixed;
  color: rgb(47,45,70);
}

.saveData Button{
    background-color: rgb(47,45,70);
}

.newAnswer{
    background-color: rgb(47,45,70);
    color:white;
}

.formQuestions{
  width: 85%;
}

.levelD{
  width: 100px;
  margin-left: -2%;
  margin-bottom: 15px;
  color: #127d8e;
 }

.levelMid{
  width: 100px;
  margin-left: -2%;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #127d8e;
}

.addQuestion{
    color: #17a2b8;
}

.questionNumber{
    margin-top: 7px;
    margin-right: -5px;
    font-weight: bold;
    color: rgb(47,45,70);
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.chartStyle{
    height: 80%;
    margin-left: 5%;
}

.drop{
    display: none;
    margin-left: 2%;
}

.chartTitle{
    margin-bottom: 20px;
    color: rgb(47,45,70);
}


.questions{
    margin-left: 35%;
}
