.vertical-menu {
    width: 200px; /* Set a width if you like */
    position: fixed;
    margin-left: -15px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: rgb(47,45,70); /* Add a green color to the "active/current" link */
    color: white;
}


.vertical-menu-categories {
    width: 200px; /* Set a width if you like */
    position: fixed;
    margin-left: 1%;
}


.vertical-menu-categories a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu-categories a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu-categories a.active {
    /*background-color: #4CAF50; /* Add a green color to the "active/current" link */
    background-color: #17a2b8;
    color: white;
}

.vertical-menu-categories a.header {
    background-color: #4e555b; /* Add a green color to the "active/current" link */
    color: white;
    text-align: center;
}

@media (max-width: 940px) {
    .menuContainer{
        display:none
    }
    .drop{
        display: block;
    }

}

.dropCat{
    display: none;
}

@media (max-width: 1200px) {
    .menuContainerCat{
        display:none
    }
    .dropCat{
        display: block;
    }

}

