.LoginContainer{
    margin-top: 5%;
    padding: 15px;
    width: 60%;
    margin-left: 35%;
}

.buttonHolder{
    text-align: center;
    float: none;
}

.loginBtn{
    background-color: rgb(47,45,70);
}

.loginForm{
    width: 60%;
}

#loginField{
    width: 80%;
    margin-left: 10%;
}
